src/main/resources/street-map.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="osm">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bounds">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:double" name="minlon"/>
                                <xs:attribute type="xs:double" name="minlat"/>
                                <xs:attribute type="xs:double" name="maxlon"/>
                                <xs:attribute type="xs:double" name="maxlat"/>
                                <xs:attribute type="xs:anyURI" name="origin"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="node" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="k" use="optional"/>
                                            <xs:attribute type="xs:string" name="v" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:long" name="id" use="optional"/>
                        <xs:attribute type="xs:string" name="version" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="timestamp" use="optional"/>
                        <xs:attribute type="xs:long" name="uid" use="optional"/>
                        <xs:attribute type="xs:string" name="user" use="optional"/>
                        <xs:attribute type="xs:long" name="changeset" use="optional"/>
                        <xs:attribute type="xs:double" name="lat" use="optional"/>
                        <xs:attribute type="xs:double" name="lon" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="way" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nd" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:long" name="ref" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="k" use="optional"/>
                                            <xs:attribute type="xs:string" name="v" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:long" name="id" use="optional"/>
                        <xs:attribute type="xs:string" name="version" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="timestamp" use="optional"/>
                        <xs:attribute type="xs:long" name="uid" use="optional"/>
                        <xs:attribute type="xs:string" name="user" use="optional"/>
                        <xs:attribute type="xs:long" name="changeset" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="relation" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="member" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:long" name="ref" use="optional"/>
                                            <xs:attribute type="xs:string" name="role" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="k" use="optional"/>
                                            <xs:attribute type="xs:string" name="v" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:long" name="id" use="optional"/>
                        <xs:attribute type="xs:string" name="version" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="timestamp" use="optional"/>
                        <xs:attribute type="xs:long" name="uid" use="optional"/>
                        <xs:attribute type="xs:string" name="user" use="optional"/>
                        <xs:attribute type="xs:long" name="changeset" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:double" name="version"/>
            <xs:attribute type="xs:string" name="generator"/>
        </xs:complexType>
    </xs:element>
</xs:schema>